:root {
    --heavy-purple: #e5eaf5;
    --medium-purple: #d0bdf4;
    --dark-blue: #0F1035;;
    --pink-sand:#ffa8B6;
}

*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;   
}

/* targets the whole nav bar */
#nav-field{ 
    background: var(--medium-purple);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


#nav-field a{
    display: flex;
    gap:20px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--dark-blue);

}

.logo{
    text-decoration: none;
}

/* this is the style for the burger icon */
#burger{
    display:flex;
    flex-direction: column;
    gap:4px;
    cursor: pointer; 
    border: 2px solid var(--dark-blue);
    padding: 3px 6px;
    border-radius: 3px;
}

#burger span{
    display: block;
    width: 30px;
    height:3px;
    transition: 0.5s;
    padding: 5px;
    background-color:var(--dark-blue);
}

#burger:hover{
  background-color: var(--pink-sand);
}

/* menu hidden by default */

nav .list{
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 5%;
    right:5%;
    margin-top: 70px;
    list-style: none;
}


nav .list a {
    text-decoration: none;
    justify-content: right;
}

nav a:hover {
    background-color:var(--pink-sand);
    padding:0;
}  

/* Show menu when active */
nav .list.open {
  display: flex;
}


/* Larger screens: show menu inline */
@media (min-width: 800px){
#list {
    display: flex;
    gap: 2rem;
    position: static;
    flex-direction: row;
    padding: 2px 5px;    
    
}

#list a{
color: maroon;
}


#burger{
    display: none;
}
}