body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    
}
/* targets the whole nav bar */
#nav-field{ 
    background: #A9B5DF;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-field a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    line-height: 30px;
    color: white;

}

/* this is the burger icon */
#burger{
    width: 35px;
    height: 25px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: #7889d2;
    border: 2px solid white;
    border-radius: 5px;

}

#burger span{
    display: block;
    width: 100%;
    height: 5px;
    background: #0F1035;
    transition: 0.5s;
}

/* menu hidden by default */

    nav .list {
      display: none;
      flex-direction: column;
      list-style: none;
      background: palevioletred;
      border-radius: 8px;
      padding: 10px;
    }

    nav .list a {
      color: white;
      text-decoration: none;
      
      padding: 8px 0;
    }

    nav .list a:hover {
      background: #471717;
    }

     /* Show menu when active */
    nav .list.active {
      display: flex;
    }


     /* Larger screens: show menu inline */


@media (min-width: 800px){
#list {
    display: flex;
    position: static;
    flex-direction: row;
    background: #E5989B;
    padding: 40px 50px;
    border: 2px solid yellow;
    width: auto;
    padding: 0;
}
menu a {
    padding: 0 10px;
}

#burger{
    display: none;
}
}