* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  min-height: 100vh;
  background-color: goldenrod;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#list {
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
#list a {
  border: 1px black solid;
  border-radius: 0;
  padding: 10px;
  background-color: goldenrod;
  margin-bottom: -1px;
}

#list a:hover {
  filter: brightness(1.2);
}
a {
  text-decoration: none;
  color: white;
  display: block;
}
h1 {
  color: white;
}
#burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  width: 40px;
  background-color: black;
  border: 3px solid goldenrod;
  border-radius: 10px;
}
#burger span {
  height: 3px;
  width: 70%;
  background-color: goldenrod;
  transition: transform 0.2s ease;
}
#nav-field {
  background-color: black;
  padding: 20px;
}
#list.open {
  display: flex;
  padding: 10px;
  max-height: 300px;
}
#burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#burger.active span:nth-child(2) {
  opacity: 0;
}

#burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@media (min-width: 768px) {
  #list {
    display: flex;
    flex-direction: row;
    position: static;
    gap: 20px;
    justify-content: flex-end;
    max-height: 200px;
  }
  #list a {
    border-radius: 5px;
  }
  #burger {
    display: none;
  }
}
