/* styles.css */

body{
  background-color: grey;
}

#nav-field{
  display: flex;
  flex-direction:row;
justify-content: space-between;
  background-color: rgb(247, 82, 16);
  gap: 20px;
  font-size: 40px;
  padding: 15px;
  border-radius: 10px;
}

#nav-field a {
  color: rgb(62, 61, 61);
  text-decoration: none;
  display: flex;
}


#burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

#burger span {
  display: block;
  width: 45px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

#list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  position: absolute;
  justify-content: right;
  top: 70px;
  right: 20px;
  width: 120px;
  background-color:rgba(63, 59, 58, 0.274);
  border-radius: 10px;
  border: orangered 1px solid;
  padding: 10px;
}
#list a{
  justify-content: right;
  color: black;
}
#list a:hover{
  color: orangered;

}


#list.open {
  display: block;
  font-size: 24px;
}

#burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#burger.open span:nth-child(2) {
  opacity: 0;
}

#burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@media (min-width: 700px) {

  #burger {
    display: none;

  }
  #list {
    display: flex;
    top: 20px;
    gap: 20px;
    background: none;
    position: static;
  }


}